/* colors */
:root{
    --red: #e93e34;
    --white: #f7f7f7;
    --black: #000000;
    --gray: #2d2d2d;

}
/* remove margin */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* base to toggle menu */
.toggle-menu{
    height: 100%;
    width: 250px;
    position: absolute;
    background: #100000;
    z-index: 1;
    transition: 500ms ease;
    transform: translateX(-250px);
}
/* head of toggle menu */
.toggle-menu .head{
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: var(--red);

}
/* pokedex icon */
.fa-pokedex{
    padding-left: 40px;
    padding-right: 15px;
    
}
/* X icon */
.fa-times{
    padding-top: 3%;
    width: 30px;
    height: 30px;
}
/* lijst */
ol{
    width: 100%;
    list-style: none;
}

ol li{
    display: block;
    width: 100%;
}

ol li a{
    color: var(--white);
    padding: 15px 10px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transform: 300ms;
    overflow: hidden;
    text-transform: capitalize;
}

ol li a i{
    color:var(--red);
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

ol li:hover a{
    background: var(--gray);
    letter-spacing: 2px;
}

input{
    appearance: none;
    visibility: hidden;
    display: none;
}

span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: var(--gray);
    padding: 3px 8px;
    cursor: pointer;
    background:var(--red);
}
#pokeball-button {
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px; 
    padding: 0;
}

#pokeball-button img {
    display: block;
    height: 20px;   
    width: 20px;
}


#check:checked ~ .toggle-menu{
    transform:translateX(0);
}

#check:checked ~ .toggle-menu #pokeball-button{
    display: none;
}