
#pokeball-button {
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px; 
    padding: 0;
}

#pokeball-button img {
    display: block;
    height: 20px;   
    width: 20px;
}


#check:checked ~ .toggle-menu{
    transform:translateX(0);
}

#check:checked ~ .toggle-menu #pokeball-button{
    display: none;
}