body{
    background-color: #8fb4db;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5mm ;
    border: 3px solid black;
    

}
h1{
    text-align: center;
}


#catch_them_all img {
    width: 300px; 
    display: block; 
    border: 3px solid black;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2mm;
}

button {
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.1); 
}

#catch_them_all{
    background: none;
    border: none;
}


#start {
    width: 300px;
    display: block; 
    margin: 0 auto;
    cursor: pointer;
    background-color: #cae09b;
    border: 3px solid #85af2e;
}


.toggle-menu ol {
    width: 100%;
    list-style-type: none;
}

.toggle-menu ol li {
    display: block;
    width: 100%;
}

.toggle-menu ol li a {
    display: flex;
    color: #f7f7f7;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    line-height: 4;
    
    
}

.toggle-menu ol li a i {
    color: #e93e34;
    display: flex;
    align-items: center;
    text-decoration: none;
    
    
}
ol li:hover a{
    background:#8fdbb8;
    color: #000;
    letter-spacing: 2px;
    padding-right:0px;
}

.fa-home {
    font-size: 22px; 
    vertical-align: middle; 
    
}

.fa-gamepad{
    font-size: 17px;
    vertical-align: middle; 
    margin-right: 1px 
}
.fa-gear{
    font-size: 18px;
    vertical-align: middle; 
    margin-right: 2px;
}

.fa-pokedex {
    width: 16px;  
    height: 16px; 
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle; 
}

.toggle-menu{
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #000000;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(0);
}

.toggle-menu .head{
    color: #f7f7f7;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: #e93e34;
}

