html, body {
    height: 100%; 
    margin: 0; 
}

.fa-home {
    font-size: 22px;
    margin-left: 20%;
    vertical-align: middle;
}

.fa-pokedex {
    width: 16px;
    height: 14px;
    margin-left: 20%;
    margin-right: 2px;
    vertical-align: middle;
}

.fa-gamepad {
    font-size: 17px;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 1px;
}

.fa-gear {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 20%;
    margin-right: 2px;
}

.toggle-menu {
    height: 100%;
    width: 35%;
    min-width: 250px;
    background-color: #000000; 
    display: flex; 
    flex-direction: column;
}

.head {
    padding: 30px; 
    background-color: #e93e34; 
    color: #f7f7f7;
}

.toggle-menu ol li {
    display: block;
    width: 100%;
    padding: 0;
}

.toggle-menu .head{
    color: #f7f7f7;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    padding-left: 30%;
    text-transform: uppercase;
    letter-spacing: 3px;
    background: #e93e34;
}

.toggle-menu ol li a  {
    display: flex;
    color: #f7f7f7;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    line-height: 4;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}


.toggle-menu ol li a i{
    color: #e93e34;
}
